html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*after {
    box-sizing: inherit;
}

body {
    background-color: rgb(240, 240, 240);
    color: rgb(39, 39, 39);
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: rgb(39, 39, 39);
}

p {
    margin: 0;
}

h1 {
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 0;
    font-size: 3em;
}

a {
    color: rgb(170, 0, 255);
    text-decoration: none;
    font-weight: bold;
}

a {
    font-family: 'Oswald', sans-serif;
    color: rgb(138, 157, 255);
}

h1, h2, h3 {
   color: rgb(138, 157, 255);
}


a:hover {
    color: rgb(93, 119, 252);
}

.text-center {
    text-align: center;
}

.mb-1 {
    margin-bottom: 1.2rem;
}

.hidden {
    display: none;
}

.nav-container {
    position: sticky;
    top: 5px;
    margin:10px;
    display: flex;
    justify-content: end;
}

.lang-btn {
    background-color: rgb(240, 240, 240);
    border: 1.5px solid rgb(95, 182, 240);
    border-radius: 10px;
    margin-right: 5px;
}

.mode-btn {
    background-color: rgb(240, 240, 240);
    border: 1.5px solid rgb(95, 182, 240);
    border-radius: 10px;
}

.intro-container {
    margin: 2rem auto;
    margin-top: -1rem;
    padding: 2rem;
    max-width: 750px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.flex-main {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.contact-buttons {
    margin: 0 auto;
    margin-top: 2rem;
}

button {
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
    height: 2rem;
    width: 5rem;
    border: 1px solid rgb(95, 182, 240);
    color: rgb(138, 157, 255);
}

.nav-btn {
    height: 2rem;
    width: 2.1rem;
    border-radius: 50%;
}


button:hover {
    /* background-color: rgb(245, 234, 250); */
    box-shadow: 0rem 0.1rem 0.3rem rgba(53, 0, 128, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    border: 1.5px solid rgb(93, 119, 252);
    color:rgb(93, 119, 252);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.insignias-container {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.insignia-img {
    height: 7rem;
    width: auto;
}

/*********************** main ************************/

main {
    margin-bottom: 10rem;
    margin: 0 auto;
}

.main-container {
    margin-bottom: 2rem;
}

.portafolio-container {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    justify-items: center;
    align-items: center;
    text-align:center;
    margin: 0 auto;

}

.proyect-card {
    border: 2px solid rgb(95, 182, 240);
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    /* margin-left: 7rem; */
    margin-top: 1rem;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.proyect-card:hover {
    box-shadow: 0rem 0.2rem 0.6rem rgba(53, 0, 128, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    border: 2px solid rgb(93, 119, 252);
}

.card-img {
    width: 16rem;
    height: auto;
    border: 2px solid grey;
    border-radius: 5px;
}

.tecnos-card {
    /* border: 1px solid black; */
    height: 10rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr); */
}

.tecnos-list,
.links-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}


.pd-container {
    margin: 1rem auto;
    margin-top: -1rem;
    padding: 1rem;
    max-width: 700px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

/*********************** footer  ************************/

footer {
    text-align: center;
    margin-bottom: 2rem;
}

/******** dark theme *********/
.dark-theme {
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
}

.card-dark-theme {
    background-color: rgb(40, 40, 40);
}

.card-dark-theme:hover {
    box-shadow: 0rem 0.2rem 0.6rem rgba(158, 219, 241, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    border: 2px solid rgb(72, 100, 244);
}

.dark-btn {
    border: 1px solid rgb(138, 157, 255);
    background-color: rgb(40, 40, 40);
}

@media (max-width: 600px) {
    .portafolio-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}